<launch>

    <node pkg="starling2" type="pose_to_tf.py" name="pose_to_tf_node" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="qvio_transform" args="0 0 0 0 0 3.14 /odom /map" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find starling2)/rviz/starling2.rviz" />

</launch>
