<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot" default="quadrotor"/>
	<arg name="mass" default=".272"/>
  	<arg name="gains_file" default="$(find starling2_interface)/config/so3_control_gains.yaml"/>
	<arg name="odom" default="odom"/>

	<arg name="start_nodelet_manager" default="true"/>
	<arg name="manager" default="$(arg robot)_manager_control"/>

	<group ns="$(arg robot)">
		<param name="mass" value="$(arg mass)"/>
		<node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" if="$(arg start_nodelet_manager)"/>

		<!-- MAV Manager -->
		<node pkg="kr_mav_manager" type="mav_services" name="mav_services" output="screen">
		    <rosparam file="$(find starling2_interface)/config/mav_manager_params.yaml"/>
		    <remap from="odom" to="$(arg odom)"/>
		</node>

		<node pkg="nodelet" type="nodelet" name="trackers_manager" args="load kr_trackers_manager/TrackersManager $(arg manager)" output="screen">
			<rosparam file="$(find starling2_interface)/config/trackers.yaml"/>
			<rosparam file="$(find starling2_interface)/config/tracker_params.yaml"/>
			<remap from="~odom" to="$(arg odom)"/>
			<remap from="~cmd" to="position_cmd"/>
			<remap from="~des_max" to="des_max"/>
			<param name="mass" value="(arg mass)"/>
		</node>

		<node pkg="nodelet" type="nodelet" args="load kr_mav_controllers/SO3ControlNodelet $(arg manager)" name="so3_control" required="true" output="log">
			<rosparam file="$(arg gains_file)"/>
			<param name="mass" value="$(arg mass)"/>
			<remap from="~odom" to="$(arg odom)"/>
			<remap from="~position_cmd" to="position_cmd"/>
			<remap from="~so3_cmd" to="so3_cmd"/>
			<remap from="~motors" to="motors"/>
		</node>

		<!-- <node pkg="kr_trackers" type="twist_to_velocity_goal.py" name="twist_to_velocity"/> -->

	</group>
</launch>
