<launch>
  <arg name="fcu_url" default="udp://127.0.0.1:14551@:14551" />
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="$(env PX4_SYS_ID)" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />
  <arg name="fcu_protocol" default="v2.0" />
  <arg name="respawn_mavros" default="false" />

  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
    <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
    <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
  </include>

  <include file="$(find mavros_interface)/launch/fla250.launch" />
  <node pkg="nodelet"
  type="nodelet"
  args="load kr_mav_controllers/SO3ControlNodelet $(arg nodelet_manager_name)"
  name="so3_control"
  required="true"
  output="screen">
  <rosparam file="$(find snavquad_interface)/config/$(arg mav_type)_gains.yaml"/>
  <param name="mass" value="$(arg mass)"/>
  <param name="use_external_yaw" value="false"/>
  <remap from="~odom" to="$(arg odom_topic)"/>
  <remap from="~position_cmd" to="position_cmd"/>
  <remap from="~so3_cmd" to="so3_cmd"/>
  <remap from="~motors" to="motors"/>
  </node>

</launch>
